@font-face {
    font-family: 'Impact', sans-serif;
    src: url(impact.woff2);
}


html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
color: inherit;
text-decoration: none;
}


li{
    list-style: none;
}

.big-container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.container {
max-width: 920px;
padding: 0 10px;
margin: 0 auto;

}

body{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(245, 245, 244);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    background-color: rgb(49, 44, 38);
}

.nav{
display: flex;
justify-content: space-between;
}

.header{
padding-top: 25px;
position: absolute;
left: 0;
right: 0;
top: 0;
background: linear-gradient(180deg, #0f0d0b 0%, rgba(217, 217, 217, 0) 100%);
}

.header-logo{
    max-width: 100%;
    width: 45px;
}

.menu-list{
display: flex;
grid-row-gap: 0px;
column-gap: 40px;
padding-top: 25px;
}

.menu-list{
    padding-left: 25px;
}

.menu-right{
    padding-right: 30px;
}

.menu-link{
    color: rgba(92, 61, 4, 0.792);
    font-size: 20px;
    text-shadow: 1px 1px 0 orange,
    1px -1px 0 rgb(18, 18, 18),
    -1px 1px 0 rgb(7, 7, 7),
   -1px -1px 0 rgb(26, 26, 25);

    transition: color 0.3s linear;

}

.menu-link:hover{
    color: #eeb648;
}

.promo{
    background-image: url(promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;

}

.promo__inner{
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    text-align: center;
}

.title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 76px;
    letter-spacing: 0.5em;
    margin-bottom: -25px;
    text-shadow: 2px 3px 0 orange,
               1px -1px 0 orange,
               -1px 1px 0 rgb(7, 7, 7),
              -1px -1px 0 rgb(248, 247, 246);
    color: #040404;

    
}

.subtitle {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 0 rgb(241, 163, 9),
               1px -1px 0 rgb(250, 168, 5),
               -1px 1px 0 rgb(11, 11, 11),
              -1px -1px 0 rgb(239, 240, 243);
    color: #040404;   
}



.subtitle span {
    display: block;
    font-size: 34px;
    text-shadow: 1px 1px 0 rgb(241, 163, 9),
               1px -1px 0 rgb(250, 168, 5),
               -1px 1px 0 rgb(11, 11, 11),
              -1px -1px 0 rgb(239, 240, 243);
    color: #040404; 
}

.down-button{
    margin-top: auto;
    margin-bottom: 30px;
    align-self: center;

}

.info{
    margin-bottom: 100px;
}

.info__part{
    padding-top: 70px;
    display:flex;
    justify-content: space-between;
}

.info__part--third{
    padding-top: 66px;
}

.info__part--first{
    display: block;
}

.info__title{
    text-transform: uppercase;
    color: #d79b19;
    letter-spacing: 0.2em;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
}

.info__part-textbox{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.info__text{
    flex-basis: 440px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin: 0px;
}

.track__title-1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -17px;
    font-weight: 300;
    font-size: 38px;
}

.track__title-2{
    font-family: 'Dancing Script', cursive;
    margin-bottom: -52px;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    text-shadow: 1px 1px 0 orange,
               1px -1px 0 orange,
              -1px -1px 0 rgb(248, 247, 246);
    color: #040404;
}



.info__part-img-1{
    width: 905px;
    height: 500px;
}

.info__part-img-2{
    width: 450px;
}

.info__content{
    flex-basis: 415px;
}

.info__part--second .info__text{
    max-width: 352px;
}

.info__part--third .info__text{
    max-width: 377px;
}

.info__table{
    flex-basis: 450px;
    border-bottom: 1px solid orange;
    position: relative;
    top: 20px;
}

.info__table::before{
    content: '';
    border-bottom: 1px solid orange;
    position:absolute;
    width: 100%;
    top: -20px;
}

.razmer{
    font-size: 20px;
}

.info__table td{
    padding-bottom: 20px;
}

.name-model1{
    margin-left: 245px;
    font-size: 20px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.name-model2{
    margin-left: 85px;
    font-size: 20px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.name-model3{
    margin-left: 105px;
    font-size: 20px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.name-model4{
    margin-left: 85px;
    font-size: 20px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.model-1{
    width: 225px;
    height: 200px;
    margin-left: 230px;
    margin-right: 20px;
}

.model-2{
    width: 219px;
    height: 195px;
    margin-left: 234px;
    margin-top: -10px;
}

.model-3{
    width: 225px;
    height: 195px;
    margin-left: 20px;
    margin-right: 20px;
}

.model-4{
    width: 225px;
    height: 195px;
    margin-left: 43px;
    margin-top: -10px;
}

.model-5{
    width: 225px;
    height: 195px;
    margin-left: 20px;
    margin-right: 20px;
}

.model-6{
    width: 225px;
    height: 195px;
    margin-left: 40px;
    margin-top: -10px;
}

.model-7{
    width: 225px;
    height: 195px;
    margin-left: 20px;
    margin-right: 20px;
}

.model-8{
    width: 225px;
    height: 195px;
    margin-left: 40px;
    margin-top: -10px;
}

.track__title-3{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -2px;
    font-weight: 300;
    font-size: 38px;
}

.track__title-4{
    font-family: 'Dancing Script', cursive;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    text-shadow: 1px 1px 0 orange,
               1px -1px 0 orange,
              -1px -1px 0 rgb(248, 247, 246);
    color: #040404;
}


.page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    width: 1500px;
    height: 695px;
    position: relative;
    overflow: hidden;
}

video{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%,-50%);
}


.video__overlay{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: rgb(0, 0, 0,.8);
    cursor: pointer;
    transition: all .2s ease;
}

.video__overlay.hide{
    opacity: 0;
    visibility: hidden;
}

.video__overlay::before {
    width: 40px;
    height: 40px;
    border: 3px solid #fff;

    content: '';
    position: absolute;
    top: 50.5%;
    left: 50%;

    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.video__overlay::after {
    border: 6px solid transparent;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left-color: #fff;
    margin: 4px;


}

.footer{
    padding: 100px 0 80px;
    background-color: rgb(235, 157, 78);
    color: #040404;
    margin-top: 0px;
}

.footer__title{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 50px;
    margin-left: 45px;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.footer__info-item{
    margin-bottom: 40%;
}

.otstup{
    margin-bottom: 10px;
}

.footer__info-item dt,
.footer__address-title{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__info-item dd{
    margin-bottom: 10px;
}

.social-list{
    display: flex;
    gap: 0 20px;
    align-items: center;
}

.footer__address{
    flex-basis: 462px;
    margin-top: 10px;
}

#map {
    height: 250px;
}

.footer__address-text{
    font-size: 16px;
    margin-bottom: 20px;
}

.footer__bottom{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}